.conteiner {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  height: 800px;
  font-size: 64px;
  flex-direction: row-reverse;
  align-items: center;
  gap: 100px;
}

.conteiner > div {
  width: 200px;
  height: 200px;
  border: solid black 1px;
  text-align: center;
  padding-top: 50px;
  background-color: aqua;
}

.item1 {
  flex-grow: 2;
}

.item9,
.item6,
.item7,
.item8 {
  flex-shrink: 2;
}
