.conteiner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-gap: 30px;
  font-size: 64px;
}

.conteiner > div {
  text-align: center;
  background-color: aqua;
}

.conteiner > :nth-child(2n) {
  background-color: red;
}

.item1 {
  grid-column: 1 / span 11;
}

.item2 {
  grid-row: 2 / span 2;
}

.item3 {
  grid-area: 2/ 2/ 4/ 10;
}

.item4 {
  grid-area: 2/ 10/ 4/ 12;
}

.item5 {
  grid-column: 1 / span 11;
}
